.products__list {
    justify-content: space-evenly;
    display: flex;
    list-style: none;
}

.product__price {
    display: block;
}
.product__add-to-basket {
    padding: 1rem;
    width: 100%;
    font-size: 2rem;
}

.checkout {
    padding: 2rem;
}
.checkout__close {

}
.checkout__layer {
    position: absolute;
    width: 500px;
    right: 0;
    top: 0;
    height: 100vh;
    background: #fff;
    box-shadow: -10px 0px 10px 1px #aaaaaa;
}

.checkout__form {
    display: flex;
    flex-direction: column;
}

.checkout__form > input, button {
    margin-bottom: 2rem;
}